# Global configuration variables go here. You will want to tweak this
# file to suit your needs. If you want to keep local changes that are
# not overwritten by repository updates, those can be written
# to local.cfg instead (entries there will override those in this file).

# Meta-project to build
PROJECT=FEMDK
# Where do you want the downloaded source files to go?
DOWNLOAD_PATH=/mnt/space/repos
# Where do you want the compiled software installed?
# The INSTALL_PATH will be appended with packages/$NAME/$VERSION
INSTALL_PATH=/mnt/space/install
# How many processes would you like to build using?
PROCS=4
# Would you like to build stable versions of FEMDK projects?
STABLE_BUILD=false
